<!-- language: ejs -->
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Spotify Journey</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://open.spotify.com/embed/iframe-api/v1" async></script>
  </head>
  <body class="">
    <div
      class="flex justify-center h-screen items-center bg-[radial-gradient(ellipse_at_top_right,_var(--tw-gradient-stops))] from-teal-400 via-amber-200 to-violet-600"
    >
      <div class="m-16">
        <div class="my-6 flex items-center justify-center">
          <p class="mx-8 text-xl font-medium">Made for</p>
          <img
            src="https://spotify.everythingisart.org/static/spotifylogo.png"
            class="w-36"
          />
        </div>
        <img
          src="https://spotify.everythingisart.org/static/spotifyjourneyjamslogo.png"
          class="w-96 px-10"
        />

        <div
          class="m-10 justify-center bg-transparent p-8 rounded-3xl shadow-2xl"
        >
          <h2 class="text-purple-800 text-3xl" id="duration">
            <% const hours = Math.floor(duration / 3600); const minutes =
            Math.floor((duration % 3600) / 60); if (hours < 1) { %><b
              ><%= minutes %></b
            >
            minutes<% } else { %><b><%= hours %></b> hours and
            <b><%= minutes %></b> minutes<% } %>
          </h2>
          <h3 class="text-purple-800 text-3xl" id="distance">
            <b><%= (distance * 0.000621371).toFixed(1) %></b> miles
          </h3>
          <h3 class="text-orange-800 font-bold my-5">Includes:</h3>
          <div id="artistnames" class="text-purple-800"></div>
        </div>
      </div>
      <div class="flex justify-center">
        <div id="embed-iframe"></div>
      </div>
    </div>

    <script>
          window.onSpotifyIframeApiReady = (IFrameAPI) => {};

          var songs = <%- JSON.stringify(songs) %>;

          // Display the first three artist names in the 'artistnames' div
          var artistNamesDiv = document.getElementById('artistnames');
          for (let i = 0; i < Math.min(songs.length, 3); i++) {
              var pElement = document.createElement("p");
              pElement.textContent = songs[i].artist;
              artistNamesDiv.appendChild(pElement);
          }

          var playlist = <%- JSON.stringify(playlist) %>;
      var playlistUri = playlist.body.uri;

      window.onSpotifyIframeApiReady = (IFrameAPI) => {
          const element = document.getElementById('embed-iframe');
          const options = {
              uri: playlistUri,
              height: 450
          };

          // Delay the creation of the iframe by 2000 milliseconds (2 seconds)
          setTimeout(() => {
              const callback = (EmbedController) => {};
              IFrameAPI.createController(element, options, callback);
          }, 1000);
      };
    </script>
  </body>
</html>
