<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Results</title>
    <link rel="stylesheet" href="styles.css"> <!-- Link to your styles.css file -->
</head>
<body class="container">
    <h1 class="results">Results</h1>

    <h2 class="results">Starting Point</h2>
    <p class="results">Full Address: <%= startingPoint.addressFull %></p>

    <h2 class="results">Destination</h2>
    <p class="results">Full Address: <%= destination.addressFull %></p>

    <h2 class="results">Artist</h2>
    <p class="results">Main Artist: <%= artist %></p>

    <h2 class="results">Songs</h2>
    <ul class="results">
        <% for (let i = 0; i < testSongs.length; i++) { %>
            <li>
                <strong><%= testSongs[i].name %></strong> by <%= testSongs[i].artist %>
            </li>
        <% } %>
    </ul>

    <h2 class="results">Duration and Distance</h2>
    <p class="results">Estimated Duration: <%= duration %></p>
    <p class="results">Estimated Distance: <%= distance %> miles</p>

    <% if (playlist) { %>
        <a href="<%= playlist.body.external_urls.spotify %>"><p class="results">Playlist created successfully!</p></a>
    <% } else { %>
        <p class="results">Playlist creation failed. Please try again.</p>
    <% } %>
</body>
</html>
