<!-- language: ejs -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Spotify Journey</title>
    <link rel="stylesheet" href="styles.css">
    <script src="https://open.spotify.com/embed/iframe-api/v1" async></script>
</head>
<body class="page3"> 
    <div class="container playlistcontainer">
        <div class="playlistdata">
            <div class="logo-container">
                <img id='spotifylogo' src="static/spotifylogo.png">
                <img id='journeyjamslogo' src="static/spotifyjourneyjamslogo.png">
            </div>
            <h2 class="purple" id="duration">
                <% 
                    const hours = Math.floor(duration / 3600);
                    const minutes = Math.floor((duration % 3600) / 60);
            
                    if (hours < 1) {
                        %><b><%= minutes %></b> minutes<%
                    } else {
                        %><b><%= hours %></b> hours and <b><%= minutes %></b> minutes<%
                    }
                %>
            </h2>            
            <h3 class="purple" id="distance"><b><%= (distance * 0.000621371).toFixed(1) %></b> miles</h3>
            <h3 class="orange">Includes:</h3>
            <div id="artistnames" class="purple">

            </div>
        </div>
        <div class="playlistembed">
            <div id="embed-iframe"></div>
        </div>
    </div>

    <script>
        window.onSpotifyIframeApiReady = (IFrameAPI) => {};

        var songs = <%- JSON.stringify(songs) %>;

        // Display the first three artist names in the 'artistnames' div
        var artistNamesDiv = document.getElementById('artistnames');
        for (let i = 0; i < Math.min(songs.length, 3); i++) {
            var pElement = document.createElement("p");
            pElement.textContent = songs[i].artist;
            artistNamesDiv.appendChild(pElement);
        }

        var playlist = <%- JSON.stringify(playlist) %>;
    var playlistUri = playlist.body.uri;

    window.onSpotifyIframeApiReady = (IFrameAPI) => {
        const element = document.getElementById('embed-iframe');
        const options = {
            uri: playlistUri,
            height: 450
        };

        // Delay the creation of the iframe by 2000 milliseconds (2 seconds)
        setTimeout(() => {
            const callback = (EmbedController) => {};
            IFrameAPI.createController(element, options, callback);
        }, 1000);
    };
    </script>
</body>
</html>
