<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Result Page</title>
  <!-- Link to your external CSS file -->
  <link rel="stylesheet" href="styles.css">
</head>

<body class="page2">
  <div class="container">

    <div class="results">
      <section id="locations">
        <h2>Is this the correct origin and destination?</h2>
        <h3><%= startingPoint.addressFull %></h3>
        <h2>to</h2>
        <h3><%= destination.addressFull %></h3>
        <a href="/form"><button class="no">No</button></a>
        <button class="button" onclick="showSection('artistSection')">Yes!</button>
      </section>

      <section id="artistSection" style="display: none;">
          <h3>Is this the artist you wanted?</h3>
            <h2><%= artist %></h2>
          <div class="artist-details">
            <img class="mainartistimage" src="<%= artistImage %>">
            <div class="song-names">
              <h3><%= testSongs[0].name %></h3>
              <h3><%= testSongs[1].name %></h3>
            </div>
          </div>
          <a href="/form"><button class="no">No</button></a>
          <a href="/loading"><button class="button">Yes!</button></a>
        </section>
        
      </section>

    </div>

  </div>

  <script>
    function showSection(sectionId) {
      // Hide all sections
      document.getElementById('locations').style.display = 'none';
      document.getElementById('artistSection').style.display = 'none';

      // Show the selected section
      document.getElementById(sectionId).style.display = 'block';
    }
  </script>
</body>

</html>
